@import "../../sass//helper";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	@include tablet {
		gap: 19px;
	}
}

.title {
	font-size: 20px;
	text-align: center;

	@include tablet {
		font-size: 40px;
		font-weight: 600;
	}
}

.decorationLine {
	width: 90px;
	height: 2px;
	border-radius: 100px;
	background-color: $accent-color;

	@include tablet {
		height: 4px;
	}
}
