@import "../../../../sass/helper";

.table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
}

.tableHeader,
.bodyRow {
	height: 50px;
}

.bodyRow {
	color: $info-color;

	&:not(:last-child) {
		.bodyItem {
			border-bottom: 1px solid $disabled-color;
		}
	}

	&:last-child {
		.bodyItem {
			border-bottom: 1px solid transparent;
		}
	}

	&:hover {
		background-color: $light-color;

		& > .bodyItem {
			border-bottom: 1px solid $accent-color;
		}
	}
}

.tableHeader {
	background-color: #fafafa;
}

.headerRow {
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.headerItem,
.bodyItem {
	white-space: nowrap;

	&:first-child {
		padding-left: 18px;
	}
	&:last-child {
		border:none;
		padding-right: 18px;
	}
}


.headerItem {
	padding:0 10px;
	text-align: center;
	border-right: 1px solid #eee;
	font-weight: 500;
	font-size: 13px;
	line-height: calc(16 / 13);
}
.actions {
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 3px;
	gap: 8px;

	@include desktop {
		gap: 16px;
	}
}

.edit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 3px;
}

.underline {
	width: 100%;
	height: 1px;
	background-color: #000;
	min-width: 18px;
	border-radius: $border-radius;
}
